# Sensible Dateien
passwords.env
.cline.json

# Virtuelle Umgebung
venv/

# Datenbanken, temporäre und lokale Dateien
db/
db_public/
grabaciones/
keys/
LOKAL/
split/
temp-mp3/

# IDE / Editor
.vscode/
.idea/

# Sonstiges
*.pyc
__pycache__/

# Log- und Zählerdateien
login.log
counters.json
