{% extends 'base.html' %}
{% from 'partials/page_navigation.html' import page_navigation %}
{% block page_title %}Referencias · CO.RA.PAN{% endblock %}
{% block content %}
<article class="md3-text-page">
  <header class="md3-text-hero">
    <div class="md3-text-hero__container">
      <p class="md3-label-large md3-text-hero__eyebrow">Proyecto</p>
      <h1 class="md3-display-small md3-text-hero__title">Referencias bibliográficas</h1>
    </div>
  </header>

  <div class="md3-text-content">
    <section class="md3-text-section md3-text-section--divider">
      <h2 class="md3-headline-small">Referencias</h2>
      <ul class="md3-text-list md3-body-medium">
        <li>
          &Aacute;vila, Ra&uacute;l (2003): &laquo;La pronunciaci&oacute;n del espa&ntilde;ol. Medios de difusi&oacute;n masiva y norma culta&raquo;,
          <em>Nueva Revista de Filolog&iacute;a Hisp&aacute;nica</em> 51, 57&ndash;79.
        </li>
        <li>
          &Aacute;vila, Ra&uacute;l (2016): &laquo;La pronunciaci&oacute;n del espa&ntilde;ol en la radio de veinte pa&iacute;ses hisp&aacute;nicos: comentarios deportivos
          espont&aacute;neos&raquo;, <em>Nueva Revista de Filolog&iacute;a Hisp&aacute;nica</em> 64, 495&ndash;509.
        </li>
        <li>
          Real Academia Espa&ntilde;ola / Asociaci&oacute;n de Academias de la Lengua Espa&ntilde;ola (2005):
          <em>Diccionario panhisp&aacute;nico de dudas</em>. Madrid: Santillana.
        </li>
        <li>
          Greu&szlig;lich, Sebastian (2015): &laquo;El pluricentrismo de la cultura ling&uuml;&iacute;stica hisp&aacute;nica: pol&iacute;tica ling&uuml;&iacute;stica, los est&aacute;ndares
          regionales y la cuesti&oacute;n de su codificaci&oacute;n&raquo;, <em>Lexis</em> 39, 57&ndash;99.
        </li>
        <li>
          Lebsanft, Franz / Tacke, Felix (2020): &laquo;Romance Standardology: Roots and Traditions&raquo;, en: Lebsanft, Franz / Tacke, Felix (eds.):
          <em>Manual of Standardization in the Romance Languages</em>. Berlin / Boston: De Gruyter, 3&ndash;59.
        </li>
        <li>
          Tacke, Felix (en prensa): &laquo;A corpus-driven approach to emerging national standard varieties in Spanish: The Corpus Radiof&oacute;nico
          Panhisp&aacute;nico (CO.RA.PAN)&raquo;, en: Elspa&szlig;, Stephan et al. (eds.):
          <em>Double Standards. Codified Norms and Norms of Usage in European Languages (1600&ndash;2020)</em>.
          Frankfurt am Main: Lang.
        </li>
      </ul>
    </section>
  </div>
</article>

{{ page_navigation(prev_title="Quiénes somos", prev_url=url_for('public.proyecto_quienes_somos'), next_title="Cómo citar", next_url=url_for('public.proyecto_como_citar')) }}
{% endblock %}
